.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.root {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  background-color: transparent;
  &-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50px;
    background-color: rgba(255, 255, 255, 0.15);
    position: fixed;
    top: 50%;
    left: 0;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2), 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2), 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
    z-index: 100;
    &-home, &-alarm, &-book, &-earth {
      width: 48px;
      line-height: 48px;
      font-size: 20px;
      color: #fff;
      text-align: center;
      vertical-align: middle;
    }
    &-home:hover, &-alarm:hover, &-book:hover, &-earth:hover {
      -webkit-transform: none;
      transform: none;
      border-radius: 0;
      background: rgba(255,255,255,0.15);
      background: #5677fc;
    }
    &-home:before {
      font-family: 'Ionicons';
      content: '\f32b';
    }
    &-alarm:before {
      font-family: 'Ionicons';
      content: '\f14d';
    }
    &-book:before {
      font-family: 'Ionicons';
      content: '\f26b';
    }
    &-earth:before {
      font-family: 'Ionicons';
      content: '\f2df';
    }
  }
  &-content {
    flex: 1;
    margin: 0 20px 0 70px;
    background-color: #fff;
  }
  &-calendar {
    width: 300px;
    border: 1px solid transparent;
  }
}