.home {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  &-nav {
    &-icon:before {
      font-family: 'Ionicons';
      content: '\f2cb';
    }
  }
  &-left {
    flex: 1;
    background-color: transparent; // #fff;
  }
  &-calendar {
    width: 300px;
    border: 1px solid transparent; // #eee; 
  }
}