.header-content {
  width: 100%;
  height: 64px;
  background-color: transparent; // #282c34;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  .logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    &-img {
      width: 100px; 
      height: 100%;
      margin-left: 20px;
    }
    .h2 {
      margin-left: 20px;
      color: #61dafb;
    }
    .tabs {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      &-item:nth-child(1) {
        margin-left: 20px;
      }
      &-item {
        margin-right: 20px;
        cursor: pointer;
      }
      &-item:hover {
        -webkit-transform:translateY(-6px);
        transform: translateY(-6px);
        transition: all 0.5s ease-in-out;
      }
    }
  }
  .user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
  }
}