.birthday-base {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: url('https://img.zcool.cn/community/01ce86556fdd000000009fcb70acb2.jpg') no-repeat;
  background-size: 100% 100%;
  img {
    width: 60%;
    height: 40%;
  }
}