/**
 * 定义全局色系
 */

// %
$color-percent: 5%;

// white
$color-white: #ffffff;

// black
$color-black: #000000;

// red
$color-red: #E44142;

// green
$color-green: #71BC39;

// blue
$color-blue: #3C8CFF;

// orange
$color-orange: #FF833C;

// grey
$color-grey: #D1D8E3;

// mask
$color-mask: rgba(51, 51, 51, .35);

// line
$color-line: #EEEEEE;

// placeholder
$color-search-placeholder: #D8D8D8;

// text
$color-text-d: #333333;
$color-text-m: #666666;
$color-text-l: #999999;

// font-size
$font-size-ll: 24px;
$font-size-lls: 20px;
$font-size-ls: 18px;
$font-size-ml: 16px;
$font-size-ms: 14px;
$font-size-sl: 12px;
$font-size-ss: 10px;